@import url('https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0px 5px 0px;
    padding: 0;
    box-sizing: border-box;
    font-family: "Azeret Mono", monospace;
}
/* nav section */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 15px 35px;
}

.name {
    color: rgb(13, 19, 33);
    font-size: 26px;
    font-weight: 800;
}

.nav-button {
    box-sizing: border-box;
    border: 1px solid rgb(13, 19, 33);
    border-radius: 8px;
    opacity: 0.8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 14px 18px;
    cursor: pointer;

}

.learn-btn {
    position: static;
    width: 171px;
    height: 47px;
    border-radius: 8px;
    border: 1px solid rgb(13, 19, 33);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10;
    padding: 12px 20px 12px 20px;
    box-sizing: border-box;
    opacity: 0.7;
    color: rgb(13, 19, 33);
    font-weight: 500;
}


/* common heading section  */

.common-heading {
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 25px;
    margin: 15px auto;
}

.heading {
    color: rgb(13, 19, 33);
    font-size: 32px;
    font-weight: 800;
    line-height: 37px;
    letter-spacing: 0%;
    text-align: center;
}

.text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0%;
    text-align: center;
    opacity: 0.7;
}
/* banner section  */
.banner {
    background-image: url("./assets/Hero-bg.png");
    height: 550px;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.banner-btn {
    height: 60px;
    width: 240px;
    border-radius: 8px;
    background-color: #0D1321;
}

.banner-link-btn {
    text-decoration: none;
    color: #FFFFFF;
}


/* about development section  */
.about-development {
    width: 80%;
    height: 1400px;
    background-color: #0D132105;
    margin: 0px auto;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.dev-1{
    background-color:#FFFFFF;
    margin: 15px 40px;
    display: flex;
    height: 350px;
    border-radius: 12px;
    justify-content: space-around;
    align-items: center;
}
.dev-2{
    background-color:#FFFFFF;
    display: flex;
    height: 350px;
    border-radius: 12px;
    margin: 15px 40px;
    align-items: center;
    justify-content: space-around;
}
.dev-3{
    background-color:#FFFFFF;
    margin: 15px 40px;
    display: flex;
    height: 350px;
    border-radius: 12px;
    align-items: center;
    justify-content: space-around;
}
.text-dev{
    height: 250px;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.text-heading{
    color: #0D1321B3;
    font-size: 20px;
    font-weight: 700;
    text-align: left;
}
.text-description{
    color: #0D1321;
    font-weight: 400;
    font-size: 16px;
}
/* support section  */
.support-section {
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("./assets/handshake.jpg");
    border-radius: 12px;
    height: 410px;
    width: 100%;
    margin-top: 20px;
    margin-bottom: 20px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.feedback-text {
    color: #FFFFFF;
}

.feedback-heading {
    color: #FFFFFF;
}


.feedback-input {
    width: 548px;
    height: 57px;
    box-sizing: border-box;
    border: 1px solid rgba(13, 19, 33, 0.15);
    border-radius: 8px;
    background: rgb(255, 255, 255);
    padding-left: 30px;
    font-size: 16px;
}

.feedback-btn {
    width: 120px;
    height: 57px;
    border-radius: 8px;
    background: rgb(255, 255, 255);
    color: #0D1321;
    font-weight: 600;
    box-shadow: none;
    font-size: 16px;
}
/* current target section  */
.current-target {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
}

.html {
    background-color: #FF4C1E0D;
    border-radius: 12px;
    height: 300px;
    width: 370px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.css {
    background-color: #004CE80D;
    border-radius: 12px;
    height: 300px;
    width: 370px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.java {
    background-color: #FFDF000D;
    border-radius: 12px;
    height: 300px;
    width: 370px;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: start;
    flex-direction: column;
    gap: 5px;
}

.target-heading {
    color: rgb(13, 19, 33);
    font-size: 24px;
    font-weight: 800;
    letter-spacing: 0%;
}

.target-text {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    text-align: left;
    opacity: 0.7;
    text-align: justify;
}

.target-link {
    color: rgb(13, 19, 33);
    font-size: 16px;
    font-weight: 700;
    line-height: 19px;
    letter-spacing: 0%;
    text-align: left;
    text-decoration-line: underline;
}
/* next target section  */
.next-target{
    width: 100%;
}
.next-target-divs{
    height: 220px;
    border: 1px solid rgba(13, 19, 33, 0.15);
    margin: 15px 0px;
    border-radius: 12px;
     display: flex;
    justify-content: space-between;
    align-items: center; 
    padding: 0px 20px;
}
.next-target-description-divs{
    height: 180px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
/* footer section */
.footer-name {
    color: #0D1321;
    font-weight: 600;
    font-size: 20px;
    text-align: center;
}

footer {
    height: 80px;
    border-radius: 12px;
    padding: 0px 15px;
    background: rgba(13, 19, 33, 0.03);
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 5px;
}